<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.dao.UserDao">
	<!-- 添加用户 -->
    <insert id="addUser" parameterType="user">
		insert into t_user values(null,#{userName},#{password})
	</insert>
	<!-- 获得用户列表 -->
	<select id="getUser" parameterType="user" resultType="user">
		select  user_id userId,user_name userName,pass_word password from t_user 
		<if test="userName !=null and userName !=''">
			where user_name like CONCAT("%",#{userName},"%")
		</if>
	</select>
</mapper>